[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
pytz = "==2018.4"
Django = "==2.2.13"
djangorestframework = "*"
django-rest-knox = "*"
django-webpack-loader = "*"
gunicorn = "*"
dj-database-url = "*"
psycopg2-binary = "*"
whitenoise = "==3.3.1"
django-cors-headers = "*"

[requires]
python_version = "3.7"
